main#spapp > section { display: none; }
main#spapp > section:last-child { display: block; }
main#spapp > section:target { display: block; animation:  0.3s linear 1; }
main#spapp > section:target ~ * { display: none; }
